div.nav-mobile-button
	p.button Menu
		span.nav-mobile-button-icon
			span.nav-mobile-button-icon-menu.svg.show
				include ../_svg/menu.pug
			span.nav-mobile-button-icon-close.svg.hide
				include ../_svg/close.pug

div.outer.nav
	ul.inner
		li
			div.nav-button-home
				a(href="index.html")
					span.svg.nav-logo
						include ../_svg/logo-mark.pug
					span.break Launch 
					span.break Lab
		include nav-basic.pug