<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
	<path d="M4,4 L27,4 L27,8.6 L4,8.6 L4,4 Z M4,13.2 L27,13.2 L27,17.8 L4,17.8 L4,13.2 Z M4,22.4 L27,22.4 L27,27 L4,27 L4,22.4 Z"></path>
</svg>