<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="34px" viewBox="0 0 30 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon/pin-primary-white-highlight-outline">
            <path d="M12.6069334,30.8092077 C12.3268929,30.4387938 11.8591979,29.7891889 11.2656769,28.9124024 C10.2833482,27.4612448 9.30173784,25.8897842 8.38225692,24.2472624 C7.07768312,21.9168271 6.00482017,19.6326313 5.24285843,17.4430586 C4.4398544,15.1355468 4,12.9854833 4,11 C4,4.92486775 8.92486775,0 15,0 C21.0751322,0 26,4.92486775 26,11 C26,12.9854833 25.5601456,15.1355468 24.7571416,17.4430586 C23.9951798,19.6326313 22.9223169,21.9168271 21.6177431,24.2472624 C20.6982622,25.8897842 19.7166518,27.4612448 18.7343231,28.9124024 C18.1408021,29.7891889 17.6731071,30.4387938 17.3930666,30.8092077 L15,33.9745533 L12.6069334,30.8092077 Z" id="Path" fill="#000000"></path>
            <path d="M15,29 C15,29 23,18.418278 23,11 C23,6.581722 19.418278,3 15,3 C10.581722,3 7,6.581722 7,11 C7,18.418278 15,29 15,29 Z" id="Path" fill="#FFFFFF"></path>
            <path d="M15,14 C16.6568542,14 18,12.6568542 18,11 C18,9.34314575 16.6568542,8 15,8 C13.3431458,8 12,9.34314575 12,11 C12,12.6568542 13.3431458,14 15,14 Z" id="Path" fill="#000000"></path>
        </g>
    </g>
</svg>