.hero-home {
	background-image: url("../img/project/project-roco-ki-golf.jpg");
	background-size: cover;
}

.primary-message {
	.inner {
		@extend .margin-big-top;
		@extend .margin-bottom;
		h1 {
			text-align: center;
			@include media(max-width $tablet) {
				.break {
					display: block;
				}
			}
		}
	}
}

.primary-message-buckets {
	.inner {
		@extend .margin-big-bottom;
		li {
			text-align: center;
			.primary-message-svg {
				@include media(min-width $landscape) {
					@include size(9.6em 7.2em);
				}
				@include media(max-width $landscape) {
					@include size(9.6em 7.2em);
				}
				display: inline-block;
				.svg-texture {
					fill: lighten($black,60%);
				}
			}
			.h7 {
				@include media(min-width $landscape) {
					.break {
						display: block;
					}
				}
				@include media(max-width $landscape) {
					@include margin(null null 2em);
				}
			}
		}
	}
}

.stats {
	.stat {
		@include media(min-width $desktop) {
			display: block;
			@include margin(0 0 1em);
			@include pad(2.5em 1em);
			text-align: center;
			background-size: 22em;
		}
		@include media(max-width $desktop) {
			display: none;
		}
	}
}

.project-featured {
	@extend .margin-big-bottom;
	.project-photo-block {
		position: relative;
		overflow: hidden;
		// background-image: url("../img/photo-resort.jpg");
		// background-size: cover;
		@include media(max-width $desktop min-width $tablet) {
			height: 17em;
		}
		@include media(max-width $tablet min-width $landscape) {
			height: 15em;
		}
		@include media(max-width $landscape min-width $mobile) {
			height: 12em;
		}
		@include media(max-width $mobile) {
			height: 10em;
		}
		.stats {
			.stat {
				@include media(min-width $desktop) {
					background-image: url("../img/texture/bg-halftone-white-2@2x.png");
				}
			}
		}
		.project-photo {
			position: absolute;
			z-index: -1;
		}
	}
	.project-info {
		@extend .margin-top;
		@extend .margin-big-bottom;
		.project-info-title {
			.h5 {
				@extend .margin-bottom;
			}
		}
		.project-info-cta {
			@include media(max-width $landscape) {
				@include margin(2em 0 0);
			}
		}
	}
}

.project {
	.project-photo {
		@include media(min-width $tablet) {
			position: relative;
	    z-index: -1;
	    top: -3.5em;
    }
	}
	.project-body {
		.body-section {
			.h5 {
				margin-bottom: 1em;
			}
		}
	}
}

.project-list-map {
	@extend .padding-big-top;
	@extend .padding-big-bottom;
	@extend .margin-big-bottom;
	background-image: url("../img/texture/bg-map.jpg");
	background-size: cover;
	.inner {
		h1 {
			text-align: center;
			@extend .padding-top;
		}
	}
	.map {
		display: none;
		text-align: center;
		@extend .margin-big-top;
		@extend .margin-big-bottom;
		.svg {
			@include media(min-width $desktop) {
				@include size(100% 26em);
			}
			@include media(max-width $desktop min-width $tablet) {
				@include size(100% 20em);
			}
			@include media(max-width $tablet) {
				@include size(100% 16em);
			}
		}
	}
	.project-summary {
		// display: none;
		position: relative;
		@extend .margin-big-top;
		@extend .margin-big-bottom;
		@include pad(2em);
		background: $white;
		box-shadow: -10px 10px 0 0 $black;
		.project-summary-close {
			@include size(2em);
			position: absolute;
			top: 2em;
			right: 2em;
			&:hover {
				cursor: pointer;
			}
		}
		.project-summary-title {
			@include outer-container;
			@extend .margin-bottom;
		}
		.project-summary-photo {
			@include size(auto 12em);
			background-image: url("../img/project/project-westgate.jpg");
			background-size: cover;
		}
		.project-summary-content {
			@include outer-container;
			@extend .margin-top;
			.cta {
				@extend .margin-top;
			}
		}
	}
	.project-list {
		@include media(max-width $tablet) {
			display: none;
		}
		@extend .margin-big-top;
		.project-list-region {
			.h7 {
				@extend .margin-bottom;
			}
			ul {
				li {
					@include outer-container;
					@extend .margin-bottom;
					position: relative;
					.project-pin {
						position: absolute;
						left: -1em;
						opacity: 0;
						transition: all 0.2s ease-in-out;
					}
					.project-text {
						@include margin(null null null 0);
						transition: all 0.2s ease-in-out;
					}
					&:hover {
						cursor: pointer;
						.project-pin {
							left: -.5em;
							opacity: 1;
						}
						.project-text {
							@include margin(null null null 1.8em);
						}
					}
				}
			}
		}
	}
	.map-see-all-projects {
		@extend .margin-top;
		@extend .margin-big-bottom;
		text-align: center;
		.h5 {
			// font-size: 1.4rem;
			// @include pad(.6rem 1rem);
		}
	}
}

.project-list-full {
	@extend .padding-big-top;
	@extend .padding-big-bottom;
	background-image: url("../img/texture/bg-halftone-black-1-trans@2x.png");
	background-size: 20em;
	.inner {
		h1 {
			text-align: center;
			@extend .padding-top;
		}
	}
	.project-list {
		@extend .margin-big-top;
		.project-list-region {
			.h7 {
				@extend .margin-bottom;
			}
			ul {
				li {
					@extend .margin-bottom;
				}
			}
		}
	}
}

.testimonial {
	// @extend .margin-big-top;
	@extend .margin-big-bottom;
	.inner {
		@extend .padding-big-top;
		@extend .padding-big-bottom;
		.content {
			.source {
				@extend .margin-big-top;
				.source-photo {
					@include size(6.25em);
					float: left;
					margin-right: 1em;
					background-size: cover;
					&.source-photo-mark_waltrip {
						background-image: url("../img/client/client-mark_waltrip.jpg");
					}
					&.source-photo-richard_knorr {
						background-image: url("../img/client/client-richard_knorr.jpg");
					}
					&.source-photo-kemil_rizk {
						background-image: url("../img/client/client-kemil_rizk.jpg");
					}
					&.source-photo-larry_hall {
						background-image: url("../img/client/client-mark_waltrip.jpg");
					}
				}
				.h5 {
					@extend .margin-bottom;
				}
			}
			.testimonial-cta {
				@extend .margin-big-top;
			}
		}
		.quote {
			@include margin(null null 2em);
			@include media(min-width $landscape) {
				@include size(2em);
			}
			@include media(max-width $landscape) {
				@include size(3em);
			}
		}
	}
}

@mixin tesimonial-bg($project){
	background-image: url("../img/texture/bg-halftone-black-2@2x.png"),
										url("../img/project/project-"+$project+".jpg");
	background-size: 25em, cover;
}
.testimonial-mark_waltrip {
	@include tesimonial-bg(westgate);
}
.testimonial-larry_hall {
	@include tesimonial-bg(concordia);
}
.testimonial-kemil_rizk {
	@include tesimonial-bg(haciendas);
}
.testimonial-richard_knorr {
	@include tesimonial-bg(roco-ki);
}

.contact {
	.inner {
		background-color: $black;
		@extend .margin-big-bottom;
		@extend .padding-big-bottom;
		.content {
			position: relative;
			@extend .padding-big-top;
			.h1 {
				@extend .margin-bottom;
				color: $white;
				text-align: center;
			}
			.contact-fields {
				input {
					@extend .margin-bottom;
				}
				label {
					color: $white;
				}
			}
			.contact-submit {
				input[type="submit"] {
					@include media(min-width $tablet) {
						position: absolute;
						bottom: 0;
						right: 0;
					}
					@include media(max-width $tablet) {
						@include margin(2em 0 0);
					}
				}
			}
		}
	}
}

.featured-article {
	@extend .margin-big-bottom;
	.inner {
		.content {
			.article-photo {
				// height: 20em;
				// background-image: url("../img/photo-resort.jpg");
				// background-size: cover;
			}
			.article-summary {
				.h5 {
					@extend .margin-bottom;
				}
				p {
					@extend .margin-top;
				}
				@include media(max-width $tablet) {
					@include margin(2em null null);
				}
			}
		}
	}
}

.article {
	.inner {
		@extend .margin-big-bottom;
		.content {
			.article-photo {}
			.article-body {
				.h3 {
					margin-bottom: .3em;
				}
				p {
					margin-top: 1em;
				}
			}
		}
	}
}

.page-title {
	@extend .margin-big-top;
	@extend .margin-big-bottom;
	text-align: center;
	.h4 {
		@extend .margin-top;
	}
}
.article {
	.page-title {
		margin-bottom: 0;
	}
}
.page-title-long {
	@extend .margin-big-top;
	@extend .margin-big-bottom;
	text-align: center;
	.h4 {
		@extend .margin-top;
	}
}

.project {
	.inner {
		.project-photo-block {
			background-image: url("../img/photo-resort.jpg");
			background-size: cover;
		}
		.project-content {
			@extend .margin-top;
			@extend .margin-big-bottom;
			.project-title {
				@extend .margin-big-bottom;
				.h5 {
					@extend .margin-top;
				}
			}
			.project-body {
				ul {
					li {
						margin-top: 0;
						margin-bottom: .8em;
					}
				}
				.timeline-block {
					@include outer-container;
					@extend .margin-big-bottom;
					.timeline-date {
						@include media(min-width $tablet) {
							text-align: right;
						}
						@include media(max-width $tablet) {
							margin: 0 0 1em;
						}
					}
					.timeline-info {
						ul {
							margin-top: 0;
						}
					}
				}
			}
		}
		.project-sidebar {
			@extend .margin-big-top;
			.stats {
				.stat {
					background-image: url("../img/texture/bg-halftone-black-1-trans@2x.png");
				}
			}
		}
	}
}

.team {
	@include media(min-width $tablet) {
		margin-bottom: 5em;
	}
	.inner {
		.team-member {
			li {
				@include media(max-width $tablet) {
					margin-bottom: 3em;
				}
				.team-member-info {
					.h3 {
						@include media(min-width $tablet) {
							margin-top: 1em;
						}
						@extend .margin-bottom;
					}
					p {
						@extend .margin-top;
					}
				}
			}
		}
	}
}

.about-blurb {
	@extend .padding-big-top;
	@extend .padding-big-bottom;
	text-align: center;
	background-image: url("../img/texture/bg-halftone-black-1-trans@2x.png");
	background-size: 22em;
}

.awards {
	.page-title {
		margin-bottom: 1em;
	}
	@extend .margin-big-bottom;
	.inner {
		ul {
			li.award {
				@include media(max-width $landscape) {
					margin-top: 2em;
				}
				.award-logo {}
				.award-info {
					.h5 {
						@extend .margin-bottom;
						@include media(min-width $tablet max-width $landscape) {
							text-align: center;
						}
						@include media(max-width $mobile) {
							clear: both;
						}
					}
					ul {
						li {
							@extend .margin-top;
						}
					}
				}
			}
		}
	}
}

.patterns-container {
	@include padding(1em);
	background-color: rgba($black,.2);
}