.hero-home {
	background-image: url("../img/photo-resort.jpg");
	background-size: cover;
}

.primary-message {
	.inner {
		@extend .margin-big-top;
		@extend .margin-bottom;
		h1 {
			text-align: center;
			@include media(max-width $tablet) {
				.break {
					display: block;
				}
			}
		}
	}
}

.primary-message-buckets {
	.inner {
		@extend .margin-big-bottom;
		li {
			text-align: center;
			.primary-message-svg {
				@include media(min-width $landscape) {
					@include size(9.6em 7.2em);
				}
				@include media(max-width $landscape) {
					@include size(9.6em 7.2em);
				}
				display: inline-block;
				.svg-texture {
					fill: lighten($black,60%);
				}
			}
			.h7 {
				@include media(min-width $landscape) {
					.break {
						display: block;
					}
				}
				@include media(max-width $landscape) {
					@include margin(null null 2em);
				}
			}
		}
	}
}

.stats {
	.stat {
		@include media(min-width $desktop) {
			display: block;
			@include margin(0 0 1em);
			@include pad(2.5em 1em);
			text-align: center;
			background-size: 22em;
		}
		@include media(max-width $desktop) {
			display: none;
		}
	}
}

.project-featured {
	.project-photo {
		background-image: url("../img/photo-westgate.png");
		background-size: cover;
		@include media(max-width $desktop min-width $tablet) {
			height: 15em;
		}
		@include media(max-width $tablet) {
			height: 10em;
		}
		.stats {
			.stat {
				@include media(min-width $desktop) {
					background-image: url("../img/bg-halftone-white-2@2x.png");
				}
			}
		}
	}
	.project-info {
		@extend .margin-top;
		@extend .margin-big-bottom;
		.project-info-title {
			.h5 {
				@extend .margin-top;
			}
		}
		.project-info-cta {
			@include media(max-width $landscape) {
				@include margin(2em 0 0);
			}
		}
	}
}

.project-list-map {
	background-image: url("../img/bg-halftone-black-1-trans@2x.png");
	background-size: 20em;
	.inner {
		h1 {
			text-align: center;
			@extend .padding-top;
		}
	}
	.map {
		text-align: center;
		@extend .margin-big-top;
		@extend .margin-big-bottom;
		.svg {
			@include media(min-width $desktop) {
				@include size(100% 26em);
			}
			@include media(max-width $desktop min-width $tablet) {
				@include size(100% 20em);
			}
			@include media(max-width $tablet) {
				@include size(100% 16em);
			}
		}
	}
	.project-list {
		@include media(max-width $tablet) {
			display: none;
		}
		@extend .margin-big-top;
		@extend .margin-big-bottom;
		.project-list-region {
			.h7 {
				@extend .margin-bottom;
			}
			ul {
				li {
					@extend .margin-bottom;
				}
			}
		}
	}
}

.testimonial {
	@extend .margin-big-top;
	@extend .margin-big-bottom;
	.inner {
		.content {
			.source {
				.source-photo {
					@include size(5em);
					float: left;
					margin-right: 1em;
					background-image: url("../img/client-mark_waltrip.jpg");
					background-size: cover;
				}
				.h5 {
					@extend .margin-top;
				}
			}
		}
		.quote {
			@include margin(null null 2em);
			@include media(min-width $landscape) {
				@include size(2em);
			}
			@include media(max-width $landscape) {
				@include size(3em);
			}
		}
	}
}

.contact {
	.inner {
		background-color: $black;
		@extend .margin-big-bottom;
		@extend .padding-big-bottom;
		.content {
			position: relative;
			@extend .padding-big-top;
			.h1 {
				@extend .margin-bottom;
				color: $white;
				text-align: center;
			}
			.contact-fields {
				input {
					@extend .margin-bottom;
				}
				label {
					color: $white;
				}
			}
			.contact-submit {
				input[type="submit"] {
					@include media(min-width $tablet) {
						position: absolute;
						bottom: 0;
						right: 0;
					}
					@include media(max-width $tablet) {
						@include margin(2em 0 0);
					}
				}
			}
		}
	}
}

.featured-article {
	@extend .margin-big-bottom;
	.inner {
		.content {
			.article-photo {
				height: 20em;
				background-image: url("../img/photo-westgate.png");
				background-size: cover;
			}
			.article-summary {
				.h5 {
					@extend .margin-bottom;
				}
				p {
					@extend .margin-top;
				}
				@include media(max-width $tablet) {
					@include margin(2em null null);
				}
			}
		}
	}
}

.page-title {
	@extend .margin-big-top;
	@extend .margin-big-bottom;
	.h2 {
		text-align: center;
	}
}

.project {
	.inner {
		.project-photo {
			background-image: url("../img/photo-westgate.png");
			background-size: cover;
		}
		.project-content {
			@extend .margin-big-top;
			.project-title {
				@extend .margin-big-bottom;
				.h5 {
					@extend .margin-top;
				}
			}
			.project-body {
				.timeline-block {
					@include outer-container;
					@extend .margin-big-bottom;
					.timeline-date {
						@include media(min-width $tablet) {
							text-align: right;
						}
						@include media(max-width $tablet) {
							margin: 0 0 1em;
						}
					}
					.timeline-info {}
				}
			}
		}
		.project-sidebar {
			@extend .margin-big-top;
			.stats {
				.stat {
					background-image: url("../img/bg-halftone-black-1-trans@2x.png");
				}
			}
		}
	}
}

.patterns-container {
	@include padding(1em);
	background-color: rgba($black,.2);
}