input[type="text"],
textarea,
input[type="submit"] {
	border: none;
	box-shadow: none;
	border-radius: 0;
	outline: none;
}

input[type="text"],
textarea {
	color: $black;
	background-color: $white;
	font-weight: 700;
	@include pad(.5em);
	&:focus, :active {
		border: none;
		outline: none;
		background-color: $white;
		background-image: none;
	}
	&::placeholder {
		color: lighten($black,70);
	}
}

textarea {
	@include size(100% 6.8em);
	@include margin(0);
}

input[type="submit"] {
	display: block;
	@include size(100% auto);
	@include pad(2.5em 1em);
	text-align: center;
	background-image: url("../img/bg-halftone-white-2@2x.png");
	background-size: 22em;
	@extend .h5;
	color: $black;
	background-color: $black;
	&:hover, &:active, &:focus {
		color: $black;
		background-color: $black;
	}
}