body {
  font-size: $base-font-size;
  font-family: $font-primary;
  font-weight: 400;
  color: $black;
}

// *,
// a { transition: all .1s ease-in-out; }

input,
input[type="text"],
textarea {
  font-family: $font-primary;
}

label,
button,
input[type="submit"] {
  font-family: $font-secondary;
}

a {
  color: $link;
  &:hover { color: $link-hover }
  &:focus { outline: none; }
}

strong {
  font-weight: bolder;
}

// FONT: PRIMARY
.button, .h1, .h3, .h4, .h6 {
  font-family: $font-primary;
  font-weight: 700;
}

// FONT: SECONDARY
.h2, .h5, .h7, .h8 {
  font-family: $font-secondary;
  font-weight: 500;
}

// ALL CAPS
.button, .h2, .h5, .h7, .h8 {
  text-transform: uppercase;
}

// LINE HEIGHT
.h1 {
  line-height: 1em;
}
.h3 {
  line-height: 1.2em;
}

// LETTER SPACING
.h7, .h8 {
  letter-spacing: 1;
}

// COLORS

.black {
  color: $black;
}
.black-trans {
  color: rgba($black, .4);
}

.white {
  color: $white;
}
.white-trans {
  color: rgba($white, .7);
}

@include media(min-width $landscape) {
  .h2 { font-size: 2.25em; }
  .h3 { font-size: 1.875em; }
  .h4 { font-size: 1.5em; }
  .h5 { font-size: 1.125em; }
  .h6 { font-size: 1em; }
  .h7 { font-size: 0.875em; }
  .h8 { font-size: 0.625em; }
  .button { font-size: 1em; }
}
@include media(min-width $desktop) {
  .h1 { font-size: 3em; }
}
@include media(max-width $desktop min-width $landscape) {
  .h1 { font-size: 2.4em; }
}
@include media(max-width $landscape) {
  .h1 { font-size: 1.875em; }
  .h2 { font-size: 1.35em; }
  .h3 { font-size: 1.125em; }
  .h4 { font-size: 0.9em; }
  .h5 { font-size: 1em; }
  .h6 { font-size: 0.875em; }
  .h7 { font-size: 0.875em; }
  .h8 { font-size: 0.5em; }
  .button { font-size: 0.8em; }
}

h1, h2, h3, h4, h5, h6, p {
  @include margin(0);
}

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

.body-section {
  ol, ul {
    li {
      margin-top: .8em;
      position: relative;
      &:before {
        position: absolute;
      }
      p {
        margin-left: 1.5em;
        position: relative;
        &:before {
          content: "•";
          position: absolute;
          font-size: 2rem;
          top: -.34em;
          left: -.7em;
        }
      }
    }
  }
  margin-top: 3em;
  ul {
    margin-top: 1em;
    li {
      margin-left: 1.5em;
      position: relative;
      &:before {
        content: "•";
        position: absolute;
        font-size: 2rem;
        top: -.34em;
        left: -.7em;
      }
      ul li {
        margin-left: 2em;
        &:before {
          content: "—";
          left: -1em;
          opacity: .2;
        }
      }
    }
    li.list-style-none {
      &:before {
        content: "";
      }
    }
  }
  ol {
    counter-reset: ol-counter;
    li {
      margin-left: 2em;
      margin-bottom: 2em;
      &:before {
        content: counter(ol-counter, decimal-leading-zero);
        counter-increment: ol-counter;
        top: -.05em;
        left: -1.6em;
        @extend .h3;
        font-family: $font-secondary;
        opacity: .2;
      }
    }
  }
}