
// VARIABLES
// ============================================================

$base-font-size:		 16px;

$white:							 #FFFFFF;
$black:							 #000;

$link:			         $black;
$link-hover:         lighten($link,10);

$desktop:						 1140px;
$tablet:						 770px;
$landscape:					 600px;
$mobile:						 420px;
$mobile-xs:					 321px;

$font-primary:			 'Heebo', sans-serif;
$font-secondary:		 'Oswald', sans-serif;