li.nav-item
	a(href="projects.html") Projects
li.nav-item
	a(href="testimonials.html") Acclaim
li.nav-item
	a(href="whitepapers.html") Whitepapers
li.nav-item
	a(href="about.html") About
li.nav-item.nav-button-contact
	a(href="contact.html") Contact