a(href="/")
	p Menu

ul.nav
	a(href="/")
		li Launch Lab
	a(href="projects.html")
		li Projects
	a(href="testimonials.html")
		li Testimonials
	a(href="whitepapers.html")
		li Whitepapers
	a(href="about.html")
		li About
	a(href="contact.html")
		li Contact