<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 115">
	<path class="svg-texture" d="M121.5,78.5A9.5,9.5,0,0,0,112,88h19A9.5,9.5,0,0,0,121.5,78.5Zm8,15.5H148a9.49,9.49,0,0,0-19-.56,13.5,13.5,0,0,0-22.76,6.9A9.5,9.5,0,0,0,90,107h19a9.45,9.45,0,0,0-.89-4H133A13.43,13.43,0,0,0,129.54,94Zm-70-.5A9.5,9.5,0,0,0,50,103H69A9.5,9.5,0,0,0,59.5,93.5Zm-24,0A9.5,9.5,0,0,0,26,103H45A9.5,9.5,0,0,0,35.5,93.5Zm-2-19A13.49,13.49,0,0,0,20,87.19,9.49,9.49,0,0,0,7,96H26a9.48,9.48,0,0,0-4.39-8H47A13.5,13.5,0,0,0,33.5,74.5ZM85,82V28H78.08V70"/>
	<path d="M104,88,91,68V28L78,8,65,28V68L52,88H73.1L78,102l4.9-14H104ZM85,82,78,70,71,82V28H85Z"/>
</svg>