<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 155 115">
	<path d="M78.7,59.89a3.2,3.2,0,1,0-3.2-3.2A3.2,3.2,0,0,0,78.7,59.89Zm4.73,4.69L93.5,99.5H87.26l-5.76-20v24.54h-6V79.55l-5.76,20H63.5L73.63,64.37A9.2,9.2,0,0,1,78.5,47.5h.2a9.2,9.2,0,0,1,4.73,17.08Z"/>
	<path class="svg-texture" d="M92.85,71.85l-2.12-2.12a18,18,0,1,0-25.46,0l-2.12,2.12a21,21,0,1,1,29.7,0Zm10,10-2.12-2.12a31.5,31.5,0,1,0-44.55,0L54.1,81.9a34.5,34.5,0,1,1,48.79,0Zm8.49,8.49-2.12-2.12a43.5,43.5,0,1,0-61.52,0l-2.12,2.12a46.5,46.5,0,1,1,65.76,0Z"/>
</svg>