extends _base.pug

block content

	div.nav-default.nav-about
		include _includes/header.pug

	div.outer.page-title
		div.inner
			div.content
				h2.h2 The key players
				h4.h4 Launch Lab Marketing is a synergistic union of Internet and real estate sales and marketing gurus with an outstanding track record of success.
	
	div.outer.team
		div.inner
			ul.team-member
				li
					div.team-member-photo
						img(src="img/team/team-micki.jpg")
					div.team-member-info
						//- h5 The Leader
						h3 Micki Clark
						p Micki is our team leader for good reason. She has successfully created and developed large organizations in her career, and has long experience building local sales operations across the far flung reaches of the company’s historic operating area. Micki holds an MBA from the University of Denver, and was CEO of Communiqué Real Estate for over 20 years.
					div.clearfix
				li
					div.team-member-photo
						img(src="img/team/team-eli.jpg")
					div.team-member-info
						//- h5 The Innovator
						h3 Eli Regalado
						p Eli is a thought leader who has long specialized in building movements around ideas using growth hacking strategies. Eli is big on building social capital for his clients and is a web PR guru. He is a top creative designer and is an Internet marketing specialist who has a unique and effective way of utilizing viral and paid web strategies and tactics to launch campaigns. Additionally, he has personally raised millions for new enterprises on various crowdfunding platforms including Kickstarter and Indigogo.
					div.clearfix
				li
					div.team-member-photo
						img(src="img/team/team-tom.jpg")
					div.team-member-info
						//- h5 The Sage
						h3 Tom Clark
						p Tom is a strategic and creative factotum who has won scores of national real estate marketing awards over the years. He has facilitated over 50 envisioning charettes for large resort projects across the U S, the Caribbean and Latin America, producing valuable differentiating reports that define brand and value propositional elements to strategically underpin marketing and advertising.
					div.clearfix

	div.outer.about-blurb
		div.inner
			h3.h3 We are thought leaders and doers. We combine been there, done that with cutting edge Internet marketing powered by a proprietary blend of unconventional viral and paid web tactics.
		div.clearfix

	div.outer.awards
		div.outer.page-title
			h2.h2 National marketing awards
		div.inner
			ul
				li.award
					div.award-logo
						include _svg/award-nahb.pug
					div.award-info
						h5 National Association of Homebuilders

						mixin award(title, project)
							li
								h6.h6= title
								p.h8.black-trans= project

						ul
							+award('Best Direct Mail', 'Roco Ki')
							+award('Best Brochure for a Master Plan Community', 'The Club at Spanish Peaks')
							+award('Best Brochure for a Master Plan Community', 'Mountain Air Country Club')
							+award('Best Brochure for a Master Plan Community','Quechee Lakes Resort')
							+award('Electronic Media, Best Video','The Club at Spanish Peaks')
							+award('Best Marketing Program','The Club at Spanish Peaks')
							+award('Best Print Ad','Promontory Club')
							+award('Silver Award for Master Plan','Community Brochure','Grand Elk')
							+award('Silver Direct Mail Award','Four Seasons Private Villas at Punta Mita')
							+award('Silver Black and White Print Ad Award','The Penthouses at Hammock Beach')
				li.award
					div.award-logo
						include _svg/award-arda.pug
					div.award-info
						h5 American Resort Development Association
						ul
							+award('Best Brochure','The Club at Spanish Peaks')
							+award('Best Logo Design','Santiam River Club')
							+award('Best Resort Video Production','The Club at Spanish Peaks')
							+award('Best Integrated Marketing Campaign','The Club at Spanish Peaks')
				li.award
					div.award-logo
						include _svg/award-sia.pug
					div.award-info
						h5 Summit International Awards
						ul
							+award('International Gold Award for Best Consumer Brochure','Mountain Air Country Club')
							+award('International Silver Award for Best Consumer Brochure','Hammock Beach Resort')
							+award('Leader Award for Website Design','Rendezvous Colorado')

	div.outer.contact
		div.inner
			div.content
				h1.h1 Let's get to work
				div.contact-fields
					label.h5 Name
					input(type="text" placeholder="First Last")
					label.h5 Email
					input(type="text" placeholder="you@email.com")
					label.h5 Phone
					input(type="text" placeholder="123-456-7890")
					label.h5 Message
					textarea(placeholder="How can we help?")
				div.contact-submit
					input(type="submit" value="Send")
		div.clearfix


