extends _base.pug

block content

	div.hero-full.hero-home
		div.nav-home
			include _include-header.pug

	div.outer.primary-message
		div.inner
			h1.h1
				span.break The science of 
				span.break real estate sales

	div.outer.buckets-3-col.primary-message-buckets
		div.inner
			ul
				li
					div.svg.primary-message-svg
						include _svg-marketing_advertising.pug
					p.h7
						span.break Internet Marketing 
						span.break and Advertising
				li
					div.svg.primary-message-svg
						include _svg-accelerated_sales.pug
					p.h7
						span.break Accelerated Real 
						span.break Estate Sales
				li
					div.svg.primary-message-svg
						include _svg-secret_sauce.pug
					p.h7
						span.break Unconventional 
						span.break Secret Sauce

	div.outer.project-featured
		.inner
			div.project-photo-block
				div.stats
					div.stat
						h2.h2 $100M
						p.h7 Original Launch Sales
					div.stat
						h2.h2 $65M
						p.h7 Pre-sale launch
				div.project-photo
					img(src="img/project/project-westgate.jpg")
			div.project-info
				div.project-info-title
					h5.h5 Westgate Resort, Park City, Utah
					h1.h1 Sales Success In Two Economic Eras
				div.project-info-cta.cta-square
					a(href="project-westgate.html")
						h5.h5 View case study
						span.cta-arrow

	include _include-map.pug

	div.outer.testimonial
		div.inner
			div.quote.svg
				include _svg-quote.pug
			div.content
				h1.h3 Launch Lab executed a sales and marketing process for us that exceeded our expectations, generating $100M for us in one year. Just as important, they are true professionals that conduct their business with the utmost level of effort and integrity.
				div.source
					h5.h5 Mark Waltrip, COO Westgate Resorts
					h5.h5 (407) 351-3350 x101
		div.clearfix

	include _include-contact-form.pug

	div.outer.featured-article
		div.inner
			div.content
				div.article-photo
					img(src="img/whitepaper/whitepaper-10-point-process-for-digital-marketing.jpg")
				div.article-summary
					h5.h5 Further reading
					h1.h1 Our 10-point process for digital marketing
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum.
					a(href="whitepaper-10-point-process.html")
						p.button Continue reading
		div.clearfix





