extends _base.pug

block content

	div.hero-full.hero-home
		div.nav-home
			include _includes/header.pug

	div.outer.primary-message
		div.inner
			h1.h1
				span.break The science of resort 
				span.break real estate sales

	div.outer.buckets-3-col.primary-message-buckets
		div.inner
			ul
				li
					div.svg.primary-message-svg
						include _svg/bucket-marketing_advertising.pug
					p.h7
						span.break Internet Marketing 
						span.break and Advertising
				li
					div.svg.primary-message-svg
						include _svg/bucket-accelerated_sales.pug
					p.h7
						span.break Accelerated Real 
						span.break Estate Sales
				li
					div.svg.primary-message-svg
						include _svg/bucket-secret_sauce.pug
					p.h7
						span.break Unconventional 
						span.break Secret Sauce

	+project(
	'img/project/project-westgate.jpg',
	'State record',
	'Utah pre-sales',
	'$65M',
	'Pre-sale launch',
	'Westgate Resort, Park City, Utah',
	'Sales Success In Two Economic Eras',
	'project-westgate.html')

	include _includes/map.pug

	+testimonial-featured(
	'Launch Lab executed a sales and marketing process for us that exceeded our expectations, generating $100M for us in one year. Just as important, they are true professionals that conduct their business with the utmost level of effort and integrity.',
	'img/client/client-mark_waltrip.jpg',
	'Mark Waltrip',
	'COO Westgate Resorts')

	include _includes/contact-form.pug

	+whitepaper(
	'img/whitepaper/whitepaper-secret-sauce.jpg',
	'The Launch Lab Secret Sauce at Work',
	'As most of us would agree, second home properties are discretionary purchases and only people with discretionary income are going to buy them. This means that highly targeted outreach methods are required.',
	'whitepaper-10-point-process-for-digital-marketing.html')





