extends _base.pug

block content
	div.outer
		div.inner
			div.content.page.company.company-black_eagle
				div.company-border
				a(href="blackeagle.html")
					div.company-logo
							img(src="img/logo-black_eagle-color.svg")
					div.company-content
						div.company-title
							h2 Black Eagle Protection
							h6 Security Services
			div.content.page.company.company-liz_caribbean
				div.company-border
				div.company-logo
					img(src="img/logo-liz_caribbean.svg")
				div.company-content
					div.company-title
						h2 Liz Caribbean
						h6 Night Club &amp; Restaurant