html

	include _includes/variables.pug

	include _includes/head.pug

	body

	block content

		div.patterns-container

			h1.h1 H1 - pizza is the best

			h2.h2 H2 - pizza is the best

			h3.h3.white-trans H3 - pizza is the best

			h4.h4.black-trans H4 - pizza is the best

			h5.h5 H5 - pizza is the best

			h6.h6.white H6 - pizza is the best

			p.h7 H7 - pizza is the best

			p.h8 H8 - pizza is the best

			p.button Button - pizza is the best

			p.body Body - pizza is the best