html

	include _include-settings.pug

	include _include-head.pug

	body

	block content

		ul
			li
				div.primary-message-svg
					img(src="img/bucket-marketing-advertising.svg")
				h4 Internet Marketing and Advertising
			li
				div.primary-message-svg
					img(src="img/bucket-marketing-advertising.svg")
				h4 Accelerated Real Estate Sales
			li
				div.primary-message-svg
					img(src="img/bucket-marketing-advertising.svg")
				h4 Unconventional Secret Sauce