extends _base.pug

block content

	div.nav-default.nav-projects.nav-project
		include _includes/header.pug

	div.outer.project
		div.inner
			div.project-photo
				img(src="img/project/project-promonotory.jpg")
			div.project-content
				div.project-title
					h1.h1 Tripled Sales Two Years In a Row
					h5.h5 Promontory Club, Park City, Utah
				div.project-body
					div.body-section
						p Promontory became a market leader by dramatically increasing market share.
						ul
							li Only $17M in sales the year before we arrived
							li.list-style-none
								ul
									li With nearly $200M invested the developer needed dramatic improvement
							li We inherited lackluster sales and weak marketing
							li Year One we nearly tripled sales with from 51 homesites to 151 homesites
							li Year Two we nearly tripled volume from $54M to $147M
							li Achieved dramatic increase in average sales price from $320K to $505K
					div.body-section
						h5.h5 Promonotory Backstory
						h3.h3 Rebrand, Retrain and Raise the bar for Marketing
						ul
							li We repositioned the project in the marketplace with newly-defined brand
							li Profiled existing database and learned prospects were unqualified
							li Generated new qualified prospect leads
							li Brought in new sales manager and retrained sales team
							li Created launch sales events to extend selling seasons

		div.clearfix
	
	include _includes/contact-form.pug

	include _includes/map.pug
