extends _base.pug

block content

	div.nav-default.nav-projects.nav-project
		include _includes/header.pug

	div.outer.project
		div.inner
			div.project-photo
				img(src="img/project/project-westgate.jpg")
			div.project-content
				div.project-title
					h1.h1 Sales Success In Two Economic Eras
					h5.h5 Westgate Resort, Park City, Utah
				div.project-body
					div.body-section
						p In the boom years we set a Utah state record for most sales in a single day.  In 2011 and 2012 we were brought in to re-sell condo deals that had evaporated in the downturn.
					div.body-section
						div.timeline-block
							div.timeline-date
								h5.h5 2006 &mdash; 2007
							div.timeline-info
								ul
									li Recruited and trained sales team, admin staff and 10 sales agents
									li Devised national strategic marketing plan to generate qualified leads
									li 2006 pre-sale launch generated $65M
									li $100M first year sales
						div.timeline-block
							div.timeline-date
								h5.h5 2008 &mdash; 2009
							div.timeline-info
								ul
									li In 2008 real estate downturn the mortgage bank pulled condo financing and sales dropped out before lodge construction was complete
									li Following a failed auction attempt, developer construction loan was past due
									li Retained to kickstart an onsite sales effort
									li We closed 43% of all condos sold at Canyon Resort
						div.timeline-block
							div.timeline-date
								h5.h5 2010
							div.timeline-info
								ul
									li Sales met and exceeded bank’s construction loan requirements
									li Sold another 50 condos for 48% of all Canyons Resort unit sales
									li Bank construction loan successfully repaid
					div.body-section
						h5.h5 Westgate Resort Backstory
						h3.h3 Market-Based Sales and Marketing Strategies
						ul
							li Market-Based Sales and Marketing Strategies
							li In boom years we maximized the opportunity by creating a single day reservation-based pre-sale launch with over 200 attending prospects
							li.list-style-none
								ul
									li Ran a national campaign
							li After the downturn, we sold finished product with a once-in-a-generation opportunity to take advantage of low ski/in-ski/out pricing
							li.list-style-none
								ul
									li Utilized low cost local advertising and developed cooperative broker relationships
		div.clearfix

	+testimonial(
	'Launch Lab executed a sales and marketing process for us that exceeded our expectations, generating $100M for us in one year. Just as important, they are true professionals that conduct their business with the utmost level of effort and integrity.',
	'img/client/client-mark_waltrip.jpg',
	'Mark Waltrip',
	'COO Westgate Resorts')

	include _includes/contact-form.pug

	include _includes/map.pug

