extends _base.pug

block content

	div.nav-default.nav-projects.nav-project
		include _include-header.pug

	div.outer.project
		div.inner
			div.project-photo
				img(src="img/project/project-roco-ki.jpg")
			div.project-content
				div.project-title
					h1.h1 Record-Setting Results In a Developing Market
					h5.h5 Roco Ki, Dominican Republic
				div.project-body
					div.body-section
						p Pre-development sales at  a new 2500-acre golf and beach resort in an unproven, emerging market.
						ul
							li Doubled sales goal with a Caribbean record $105M single day sales launch event which we managed
							li Condos and homes ranging from $400,000 to $2M
							li Product priced at $750psf
							li Total 1st year sales over $150M
							li Named, branded, marketed and introduced project to global market
					div.body-section
						h5.h5 Roco Ki Backstory
						h3.h3 Buyer Acquisition Expertise
						p Started from scratch to find qualified and motivated buyers
						ul
							li Developed psychographic and demographic profiles
							li Built old school direct mail list
							li Mailed to direct and one-stop flight cities
							li Appended for Caribbean and Spanish language travel history
							li Appended for income and stage of life
							li Direct mail package won national awards from National Association of Home Builders and ARDA
					div.body-section
						h3.h3 Leads from our direct mail campaign were directly responsible for 65% of the $105 million launch, a Caribbean record.

		div.clearfix
	
	include _include-contact-form.pug

	include _include-map.pug

