extends _base.pug

block content

	div.nav-default.nav-projects.nav-project
		include _include-header.pug

	div.outer.project
		div.inner
			div.project-photo
				img(src="img/project/project-roco-ki.jpg")
			div.project-content
				div.project-title
					h1.h1 Record-Setting Results In a Developing Market
					h5.h5 Roco Ki, Dominican Republic
				div.project-body
					div.body-section
						p Pre-development sales at  a new 2500-acre golf and beach resort in an unproven, emerging market.
						ul
							li Doubled sales goal with a Caribbean record $105M single day sales launch event which we managed
							li Condos and homes ranging from $400,000 to $2M
							li Product priced at $750psf
							li Total 1st year sales over $150M
							li Named, branded, marketed and introduced project to global market
					div.body-section
						h5.h5 Roco Ki Backstory
						h3.h3 Buyer Acquisition Expertise
						ul
							li In boom years we maximized the opportunity by creating a single day reservation-based pre-sale launch with over 200 attending prospects
							li.list-style-none
								ul
									li Ran a national campaign
							li After the downturn, we sold finished product with a once-in-a-generation opportunity to take advantage of low ski/in-ski/out pricing
							li.list-style-none
								ul
									li Utilized low cost local advertising and developed cooperative broker relationships
		div.clearfix
	
	include _include-contact-form.pug
