extends _base.pug

block content

	div.nav-default.nav-projects
		include _includes/header.pug

	div.outer.page-title
		h2.h2 Featured projects
	
	+project(
	'img/project/project-westgate.jpg',
	'$100M',
	'Original Launch Sales',
	'$65M',
	'Pre-sale launch',
	'Westgate Resort, Park City, Utah',
	'Sales Success In Two Economic Eras',
	'project-westgate.html')
	
	+project(
	'img/project/project-concordia.jpg',
	'$24M',
	'Post market crash',
	'3,000',
	'Qualified leads',
	'Concordia, Cape Coral, Florida',
	'A Post Meltdown Success Story',
	'project-concordia.html')
	
	+project(
	'img/project/project-promonotory.jpg',
	'$147M',
	'Volume year two',
	'$505K',
	'Avg sales price',
	'Promontory Club, Park City, Utah',
	'Tripled Sales Two Years In a Row',
	'project-promonotory.html')
	
	+project(
	'img/project/project-roco-ki.jpg',
	'$150M+',
	'First year sales',
	'$105M',
	'In one day',
	'Roco Ki, Dominican Republic',
	'Single Day Caribbean Sales Record',
	'project-roco-ki.html')
