extends _base.pug

block content

	div.nav-default.nav-projects.nav-project
		include _includes/header.pug

	div.outer.project
		div.inner
			div.project-photo
				img(src="img/project/project-concordia.jpg")
			div.project-content
				div.project-title
					h1.h1 A Post Meltdown Success Story
					h5.h5 Concordia, Cape Coral, Florida
				div.project-body
					div.body-section
						p After the downturn, we dominated the market with 249 sales for $24 million in just 11 months.
						ul
							li Dramatic post-meltdown sales success in the heart of the foreclosure crisis
							li Previous real estate group had sold just one unit in the first six months of 2009
							li 249 remaining units sold in less than one year
							li Marketing generated more than 3,000 qualified leads and 1,500 onsite tours
							li 18.6% sales closing percentage
					div.body-section
						h5.h5 Concordia Backstory
						h3.h3 Why Positioning Mattered
						ul
							li We came into the project with no sales momentum
							li Incumbent listing broker had just one sale in the previous six months
							li Limited marketing budget meant all outreach had to be local
							li Studying the market we determined that short sales and foreclosures accounted for over 70% of all condo sales in previous six months in Cape Coral.
							li We positioned Concordia to be attractive to visiting investors looking for short sale products
							li Further analysis indicated investors were frustrated at lack of choices available in local short sales and foreclosures. Many foreclosures had title encumbrances
					div.body-section
						h3.h3 We developed a simple powerful message: Concordia was priced like short sales and foreclosures, but with immediate inventory choices and clean titles

		div.clearfix
	
	include _includes/contact-form.pug

	include _includes/map.pug
