extends _base.pug

block content

	div.nav-default
		include _include-header.pug

	div.outer.page-title
		h2.h2 Take their word for it

	div.outer.testimonial
		div.inner
			div.quote.svg
				include _svg-quote.pug
			div.content
				h3.h3 Launch Lab executed a sales and marketing process for us that exceeded our expectations, generating $100M for us in one year. Just as important, they are true professionals that conduct their business with the utmost level of effort and integrity.
				div.source
					div.source-photo.source-photo-mark_waltrip
					h5.h5 Mark Waltrip
					h5.h5 COO Westgate Resorts
					//- h5.h5 (407) 351-3350 x101
		div.clearfix

	div.outer.testimonial
		div.inner
			div.quote.svg
				include _svg-quote.pug
			div.content
				h3.h3 The Launch Lab organization was essential to our success… They set up and trained a highly effective onsite sales team, a productive local marketing program that brought us walk-in traffic, and worked closely with me to ensure [we] got the best values possible for the asset.
				div.source
					div.source-photo.source-photo-larry_hall
					h5.h5 Larry Hall
					h5.h5 Former VP of Special Assets Florida Community Bank
		div.clearfix

	div.outer.testimonial
		div.inner
			div.quote.svg
				include _svg-quote.pug
			div.content
				h3.h3 Launch Lab’s team have successfully updated brand positioning and created top-notch marketing and advertising materials for Royal Resorts. They helped us envision and position our newest product, Grand Residences, and created wonderful brochures, a website and a sales center for that project. We expanded their contract and asked them to do the same for all our resorts.  I heartily recommend them.
				div.source
					div.source-photo.source-photo-kemil_rizk
					h5.h5 Dr. Kemil Rizk
					h5.h5 CEO, Royal Resorts
		div.clearfix

	div.outer.testimonial
		div.inner
			div.quote.svg
				include _svg-quote.pug
			div.content
				h3.h3 Launch Lab did a fabulous job finding buyers, organizing our event, managing the sales team and developing tools utilized for the sales, marketing and promotion of the product; all of which led us to a record-breaking Founders sales launch event. They understood their client’s needs, how to develop a brand and provide for a menu of valuable services that can  be customized around the needs of the project, the management team and the budget.
				div.source
					div.source-photo.source-photo-richard_knorr
					h5.h5 Richard Knorr
					h5.h5 President and CEO, RKI Limited
		div.clearfix

	div.outer.contact
		div.inner
			div.content
				h1.h1 Let's get to work
				div.contact-fields
					label.h5 Name
					input(type="text" placeholder="First Last")
					label.h5 Email
					input(type="text" placeholder="you@email.com")
					label.h5 Phone
					input(type="text" placeholder="123-456-7890")
					label.h5 Message
					textarea(placeholder="How can we help?")
				div.contact-submit
					input(type="submit" value="Send")
		div.clearfix
