extends _base.pug

block content

	div.nav-default.nav-testimonials
		include _includes/header.pug

	div.outer.page-title
		div.inner
			div.content
				h2.h2 Take their word for it

	+testimonial(
	"Launch Lab executed a sales and marketing process for us that exceeded our expectations, generating $100M for us in one year. Just as important, they are true professionals that conduct their business with the utmost level of effort and integrity.",
	"img/client/client-mark_waltrip.jpg",
	"Mark Waltrip",
	"COO Westgate Resorts")(class="testimonial-mark_waltrip")
		div.testimonial-cta.cta-square
			a(href="project-westgate.html")
				h5.h5 View case study
				span.cta-arrow

	+testimonial(
	"The Launch Lab organization was essential to our success… They set up and trained a highly effective onsite sales team, a productive local marketing program that brought us walk-in traffic, and worked closely with me to ensure [we] got the best values possible for the asset.",
	"img/client/client-larry_hall.jpg",
	"Larry Hall",
	"Former VP of Special Assets Florida Community Bank")(class="testimonial-larry_hall")
		div.testimonial-cta.cta-square
			a(href="project-concordia.html")
				h5.h5 View case study
				span.cta-arrow

	+testimonial(
	"Launch Lab's team have successfully updated brand positioning and created top-notch marketing and advertising materials for Royal Resorts. They helped us envision and position our newest product, Grand Residences, and created wonderful brochures, a website and a sales center for that project. We expanded their contract and asked them to do the same for all our resorts. I heartily recommend them.",
	"img/client/client-kemil_rizk.jpg",
	"Dr. Kemil Rizk",
	"CEO, Royal Resorts")(class="testimonial-kemil_rizk")

	+testimonial(
	"Launch Lab did a fabulous job finding buyers, organizing our event, managing the sales team and developing tools utilized for the sales, marketing and promotion of the product; all of which led us to a record-breaking Founders sales launch event. They understood their client's needs, how to develop a brand and provide for a menu of valuable services that can be customized around the needs of the project, the management team and the budget.",
	"img/client/client-richard_knorr.jpg",
	"Richard Knorr",
	"President and CEO, RKI Limited")(class="testimonial-richard_knorr")
		div.testimonial-cta.cta-square
			a(href="project-roco-ki.html")
				h5.h5 View case study
				span.cta-arrow

	include _includes/contact-form.pug
