extends _base.pug

block content

	div.nav-default.nav-whitepapers
		include _include-header.pug

	div.outer.article
		div.inner
			div.outer.page-title
				h1.h1 Building a Sales Machine
			div.content
				div.article-photo
					img(src="img/whitepaper/whitepaper-building-a-sales-machine.jpg")
				div.article-body
					div.body-section
						h3 From the ground up
						p Building an effective onsite sales operation is often a ground-up enterprise.  We have a group of independent onsite sales specialists and sales managers we have brought to many projects, but usually we need to also recruit and train local sales executives.  This is not as easy as you might think.  Realtors are wired to attract listings, not buyers.  They are not wired to push select inventory or drive to a sales close; they are wired to please.
						p After recruiting, we begin with a two-day Boot Camp, to train the new team on our tried and true closing methods.  We share with them our Strategic Marketing on the project and give them scripts and key selling messages.  By the end of the Boot Camp they are fired up and ready to go.
						p Operationally, we have developed automated systems for lead nurturing that are powerful follow-up tools.  We bring online reporting tools so you can monitor progress in real time.  Our systems oversee closing and contracts to ensure transparency and efficiency.
						p We have a take-charge suite of systems that will make you very happy!
		div.clearfix

	include _include-contact-form.pug
