extends _base.pug

block content

	div.nav-default.nav-whitepapers
		include _includes/header.pug

	div.outer.page-title
		h2.h2 Process &amp; insights

	+whitepaper(
	'img/whitepaper/whitepaper-10-point-process-for-digital-marketing.jpg',
	'Our 10-point process for digital marketing',
	'Identify Target Market - Define demographic and psychographic parameters and apply to online filters. Identify Where They Hang Out on the Web...',
	'whitepaper-10-point-process-for-digital-marketing.html')

	+whitepaper(
	'img/whitepaper/whitepaper-defining-and-creating-a-brand.jpg',
	'The nature of defining and creating a brand',
	'Envisioning and branding require a great deal of discussion and consideration to create a concise identity—built around a halo of stories and images—that connects projects with the hearts and minds of the target market...',
	'whitepaper-defining-and-creating-a-brand.html')

	+whitepaper(
	'img/whitepaper/whitepaper-public-relations.jpg',
	'Public relations',
	'Our proprietary blend of PR programs virally attracts customers. We develop web partnerships with highly curated lists of buyers. This provides leads, organically creates web traffic and builds third party credibility...',
	'whitepaper-public-relations.html')

	+whitepaper(
	'img/whitepaper/whitepaper-find-buyers-with-online-advertising.jpg',
	'Find buyers with online advertising',
	'Our favorite way to win new leads and buyers is using online ads. Why is that? Because we can literally pick a needle out of a haystack due to the advanced targeting options the different platforms offer...',
	'whitepaper-find-buyers-with-online-advertising.html')

	+whitepaper(
	'img/whitepaper/whitepaper-building-a-sales-machine.jpg',
	'Building a sales machine',
	'Building an effective onsite sales operation is often a ground-up enterprise.  We have a group of independent onsite sales specialists and sales managers we have brought to many projects, but usually we need to also recruit and train local sales executives...',
	'whitepaper-building-a-sales-machine.html')

	+whitepaper(
	'img/whitepaper/whitepaper-secret-sauce.jpg',
	'The Launch Lab Secret Sauce at work',
	'As most of us would agree, second home properties are discretionary purchases and only people with discretionary income are going to buy them. This means that highly targeted outreach methods are required. Before the downturn, direct mail (aka snail mail) was the gold standard...',
	'whitepaper-launch-lab-secret-sauce.html')

