extends _base.pug

block content

	div.nav-default.nav-whitepapers
		include _include-header.pug

	div.outer.page-title
		h2.h2 Process &amp; insights

	mixin whitepaper(photo, title, summary, link)
		div.outer.featured-article
			div.inner
				div.content
					a(href=link)
						div.article-photo
							img(src= photo)
						div.article-summary
							h1.h1= title
							p= summary
							p.button Continue reading
			div.clearfix

	+whitepaper(
	'img/whitepaper/whitepaper-10-point-process-for-digital-marketing.jpg',
	'Our 10-point process for digital marketing',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-10-point-process-for-digital-marketing.html')

	+whitepaper(
	'img/whitepaper/whitepaper-defining-and-creating-a-brand.jpg',
	'The nature of defining and creating a brand',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-defining-and-creating-a-brand.html')

	+whitepaper(
	'img/whitepaper/whitepaper-public-relations.jpg',
	'Public relations',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-public-relations.html')

	+whitepaper(
	'img/whitepaper/whitepaper-find-buyers-with-online-advertising.jpg',
	'Find buyers with online advertising',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-find-buyers-with-online-advertising.html')

	+whitepaper(
	'img/whitepaper/whitepaper-building-a-sales-machine.jpg',
	'Building a sales machine',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-building-a-sales-machine.html')

	+whitepaper(
	'img/whitepaper/whitepaper-secret-sauce.jpg',
	'The Launch Lab Secret Sauce at work',
	'Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.',
	'whitepaper-launch-lab-secret-sauce.html')

