extends _base.pug

block content

	div.nav-default.nav-whitepapers
		include _includes/header.pug

	div.outer.article
		div.inner
			div.outer.page-title-long
				div.content
					h1.h1 Public Relations
				div.clearfix
			div.content
				div.article-photo
					img(src="img/whitepaper/whitepaper-public-relations.jpg")
				div.article-body
					div.body-section
						p Our proprietary blend of PR programs virally attracts customers. We develop web partnerships with highly curated lists of buyers. This provides leads, organically creates web traffic and builds third party credibility.
					div.body-section
						h3 What is PR?
						p Public Relations: the practice of managing the spread of information between an individual or an organization and the public. Usually through TV, online magazines, blogs, podcasts, and radio.
						p Your marketing plan should have a PR aspect to it. We’ve seen PR have an extremely effective role in bringing in leads and buyers.
					div.body-section
						h3 Why is that?
						p Every team is going to say their property is great, awesome, amazing and give a buyer a list of reasons why they should buy there. And they should. However, when a magazine, an influential blog, a podcaster, or a TV station says the same thing it holds more weight. PR is an easy way to build social proof for your property in the minds of buyers.
					div.body-section
						h3 So Launch Lab does press releases?
						p We’ll do releases but usually only on big announcements.  Our friend Ben Parr, former editor of Mashable told us this:
					div.body-section
						h3 "Yes, there’s a lot more effort involved in customizing news pitches for each journalists but the results are night and day different.  Just as you don’t like and won’t click on irrelevant ads, journalists won’t open a pitch that isn’t relevant to their writing beat."
					div.body-section
						p See the difference?
		div.clearfix

	include _includes/contact-form.pug
