extends _base.pug

block content

	div.nav-default.nav-whitepapers
		include _include-header.pug

	div.outer.article
		div.inner
			div.outer.page-title
				h1.h1 Defining and Creating a Brand
			div.content
				div.article-photo
					img(src="img/whitepaper/whitepaper-defining-and-creating-a-brand.jpg")
				div.article-body
					h3 Why go to so much effort to create or update a brand?
					p Envisioning and branding require a great deal of discussion and consideration to create a concise identity—built around a halo of stories and images—that connects projects with the hearts and minds of the target market.
					p Brands are not free-floating “idea balloons” bobbing in the marketplace. And they are certainly not designed to hang as an emblem on the boardroom wall. Instead, your brand identities radiate from the project out into the marketplace. There, they connect with the target market through strategically designed marketing material that snaps people out of a trance brought on by media bombardment. In other words, appropriate brand messaging helps you stand out from the clutter.
					p Once a brand wakes up consumers, it then has the power to trigger interest by connecting the opportunity with their deepest desires. How does it do that? Brands answer their desires and dreams. They take shape within the financial, emotional, geographical, and competitive conditions of the marketplace. Therefore, they exist in a context. Within this relationship, a brand must deliver on its promise to the right people at the right time.
					p So we have to decide what are the key characteristics of that brand promise and to whom are we going to make the offer? The best brands delivered to the wrong consumer at the wrong time have no hope of providing the right answers to the right consumer.
					p Matching the brand with the right target market means:
					h3 Brand Vocabulary
					p We create phrases and imagery that define the brand. As key messaging points, the sales team will apply these phrases during the sales process to ignite prospect interest and to defend against concerns and objections. These points will also be woven into the narrative within the marketing material.
					h3 Defining the Brand Differentiators
					p Brands work because the elements are easy to grasp and easy to recognize…and with recognition and interest comes the opportunity to tell more of the story. Creating a well-defined brand with a compelling value proposition is only the beginning.
					p In order to contribute to sales in this market, brands have to go to work. This is the job of implementing the brand with strategic marketing whose synergy and ROI is accomplished through engaging design and clear messaging that identifies that answer to what’s missing in people’s lives.
					p The distillation process will lead us to the key differentiators that resonate in the minds of prospects, compelling them to learn more about your project.
					p To qualify as a brand differentiator, an attribute must elevate your project above the competition in a way that is both real and compelling to buyers. These differentiators must communicate a level of experience and expertise in an honest voice.
					p The brand differentiators are not completely independent from one another; instead, they overlap and reinforce each other. At the point of convergence, the brand, and its value proposition grow in strength as both temptress, creating allure, and as warrior, defending the brand promise.
					h3 Other Defining Elements
					p To further underpin the brand communication in your marketing and advertising we develop the following:
					ul
						li Brand Positioning Statement
						li The Brand Personality Sound Bite
						li Brand Stories
						li An overview of what the project will become on completion
						li Assets and Liabilities:  Reasons to Buy, Reasons Not to Buy
						li Target Market Definition
						li Buyer’s Mindset
						li The Target Market Personality
					h3 
					p 
					h3 
					p 
					h3 
					p 
					h3 
					p 

		div.clearfix

	div.outer.contact
		div.inner
			div.content
				h1.h1 Let's get to work
				div.contact-fields
					label.h5 Name
					input(type="text" placeholder="First Last")
					label.h5 Email
					input(type="text" placeholder="you@email.com")
					label.h5 Phone
					input(type="text" placeholder="123-456-7890")
					label.h5 Message
					textarea(placeholder="How can we help?")
				div.contact-submit
					input(type="submit" value="Send")
		div.clearfix